---
- name: Restart docker
  ansible.builtin.systemd:
    name: docker
    state: restarted

- name: restart sshd
  ansible.builtin.systemd:
    name: sshd
    state: restarted
  when: ansible_facts['os_family'] != 'Darwin'
